aside {
    min-width: 300px;
}
main {
    flex: 1;
}
.sidebar {
    min-width: 250px;
}

.nav-link {
    border-radius: 0 !important;
    color: #444444;
}
.nav-link:hover {
    background: rgba(0, 0, 0, 0.05) !important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: rgba(0, 0, 0, 0.05) !important;
    color: #b90000 !important;
    border-left: 4px solid #b90000 !important;
    box-shadow: none !important;
}
.content-wrapper {
    flex: 1;
}